.optionsBtn {
    display: inline-block;
    position: relative;
    left: 8px;
    bottom: 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgba(0,0,0,0.05);
    transition: background-color 0.5s;
}

.optionsBtn:hover {
    background-color: rgba(0,0,0,0.08);
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.optionsBtn i {
    background-image: url(../images/fb-icons-new.png);
    background-position: 0px -710px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 4px 0 0 16px;
    position: relative;
}

.profileContainer {
    margin: 2px 6px 0 0;
}

.profileContainer img {
    height: 32px;
    width: 32px;
}

/* secondaryContainer excludes profileContainer */

.secondaryContainer {
    padding-right: 16px;
    flex-grow: 1;
    position: relative;
}

.commentCard {
    border-radius: 18px;
    background-color: var(--comment-background);
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.userName {
    font-weight: 600;
    line-height: 1.2308;
    font-size: .8125rem;

}

.contentContainer {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.3333;
    padding: 4px 0;
}

.likeReplyContainer {
    min-height: 15px;
    margin: 0 -8px 0 4px;
    line-height: 12px;
    padding-top: 3px;
    display: flex;
}

.actions {
    margin: 0 8px;
    font-weight: bold;
    color: var(--secondary-text);
    font-size: 12px;
}

.date {
    margin: 0 8px;
    font-weight: normal;
    color: var(--secondary-text);
    font-size: 12px;

}