.main {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.main div:first-child {
  padding-right: max(32px);
}

.h1 {
  color: #1877f2;
  font-size: 50px;
}

.h2 {
  width: 30rem;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}

@media screen and (max-width: 640px) {
  .h2 {
    display: none;
  }

  .main {
    flex-direction: column;
  }
}
