* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-btn-color: #E4E6EB;
  --secondary-btn-hover-color: #dadde4;
  --primary-active-btn-color: #e7f3ff;
  --secondary-text: #65676b;
  --comment-background: #f0f2f5;
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --divider: #ced0d4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background-color: #f0f2f5;
  min-height: 100vh;
}

.blue-filter{
  -webkit-filter: var(--filter-accent);
}

.solid-like-btn {
  background-image: url(./images/fb-icons-2.png);
  background-position: 0 -303px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.like-btn {
  background-image: url(./images/fb-icons-2.png);
  background-position: 0px -322px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

